Redirect /Brackets.html "https://x3270.miraheze.org/wiki/Why_are_the_square_bracket_characters_displayed_wrong%3F"
Redirect /Build.html "https://x3270.miraheze.org/wiki/Build"
Redirect /c3270-Resources.html "https://x3270.miraheze.org/wiki/Category:C3270_resources"
Redirect /c3270Keymap.html "https://x3270.miraheze.org/wiki/C3270/Keymap"
Redirect /Charset.html "https://x3270.miraheze.org/wiki/3270cg_encoding"
Redirect /credits.html "https://x3270.miraheze.org/wiki/Credits"
Redirect /documentation-faq.html "https://x3270.miraheze.org/wiki/Category:Frequently-asked_questions"
Redirect /documentation-relnotes.html "https://x3270.miraheze.org/wiki/Release_Notes"
Redirect /documentation-ssl.html "https://x3270.miraheze.org/wiki/Transport_Layer_Security"
Redirect /download.html "https://x3270.miraheze.org/wiki/Downloads"
Redirect /Keymap.html "https://x3270.miraheze.org/wiki/X3270/Keymap"
Redirect /license.html "https://x3270.miraheze.org/wiki/X3270_license"
Redirect /rest.html "https://x3270.miraheze.org/wiki/HTTP_server"
Redirect /s3270-Resources.html "https://x3270.miraheze.org/wiki/Category:S3270_resources"
Redirect /tcl3270-Resources.html "https://x3270.miraheze.org/wiki/Category:S3270_resources"
Redirect /wc3270-Resources.html "https://x3270.miraheze.org/wiki/Category:Wc3270_resources"
Redirect /ws3270-Resources.html "https://x3270.miraheze.org/wiki/Category:S3270_resources"
Redirect /wc3270Keymap.html "https://x3270.miraheze.org/wiki/Wc3270/Keymap"
Redirect /WindowsInstall.html "https://x3270.miraheze.org/wiki/Wc3270/Installer"
Redirect /x3270-Resources.html "https://x3270.miraheze.org/wiki/Category:X3270_resources"
Redirect /Unix-x3270if.html "https://x3270.miraheze.org/wiki/X3270if"
Redirect /Windows-x3270if.html "https://x3270.miraheze.org/wiki/X3270if"
Redirect /x3270-script.html "https://x3270.miraheze.org/wiki/Scripting"
Redirect /wc3270-script.html "https://x3270.miraheze.org/wiki/Scripting"
