Begin4
Title:		pr3287
Version:	$VERSION
Entered-date:	$EDATE
Description:	IBM 3287 Printer Emulator for TN3270 Sessions
		TN3270E support, structured fields
Keywords:	tn3270 tn3270e x3270 3270 3287
Author:		Paul Mattes (Paul.Mattes@usa.net)
		Jeff Sparkes (jsparkes@bnr.ca)
		Robert Viduya
Maintained-by:	Paul Mattes (Paul.Mattes@usa.net)
Primary-site:	metalab.unc.edu /pub/Linux/system/network/misc/
		$SIZE KB pr3287-$VERSION.tgz
Copying-policy:	GPL
End
