*.a
autom4te.cache
config.log
config.status
cscope.*
dependencies
documentation-ssl-body.html
*.exe
fallbacks.c
favicon.c
Makefile
Makefile.bak
*.man
*-man.html
mkfb
mkicon
*.o
ReleaseNotes.html
Resources.html
*-src.tgz
SSL.html
