*.a
autom4te.cache/
compiled_keypad.h
conf.h
config.log
config.status
configure
dependencies
*.exe
fallbacks.c
FAQ.html
favicon.c
Imakefile
Lineage.html
Makefile
Makefile.bak
*.man
*._man
*-man.html
mkfb
mkicon
mkkeypad
*.o
ReleaseNotes.html
Resources.html
*-script.html
*-src.tgz
SSL.html
