*.a
autom4te.cache
compiled_keypad.h
conf.h
config.log
config.status
configure
dependencies
*.exe
fallbacks.c
favicon.c
Imakefile
Makefile
Makefile.bak
*.man
*._man
*-man.html
mkfb
mkicon
mkkeypad
*.o
Resources.html
*-script.html
