Begin4
Title:		s3270
Version:	$VERSION
Entered-date:	$EDATE
Description:	Scripted 3270 Emulator
		Complete IBM 3278/3279 emulation, TN3270E support, structured
		fields, color xterm emulation, highly configurable
Keywords:	tn3270 x3270 3270
Author:		Paul Mattes (Paul.Mattes@usa.net)
		Jeff Sparkes (jsparkes@bnr.ca)
		Robert Viduya
Maintained-by:	Paul Mattes (Paul.Mattes@usa.net)
Primary-site:	metalab.unc.edu /pub/Linux/system/network/misc/
		$SIZE KB s3270-$VERSION.tgz
Copying-policy:	GPL
End
